@model MDRIP.Models.DiagnosticCenter

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiagnosticCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReproInfection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReproInfection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MDRPathogen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDRPathogen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientInfection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientInfection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntibioticResistence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntibioticResistence)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
