@model MDRIP.Models.Bacteria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bacteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxonomy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxonomy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GramStaining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GramStaining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shape)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shape)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OxygenRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OxygenRequirement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicalCharacteristics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicalCharacteristics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prevalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prevalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occurence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occurence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mortality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mortality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvolinDiseases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvolinDiseases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CausingInfections)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CausingInfections)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Likeness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likeness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antibiotics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antibiotics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteractionWithOrganism)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteractionWithOrganism)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
