@model MDRIP.Models.RegisterViewModel

@{
    ViewBag.Title = "Welcome";
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MDRIP</title>
    @Styles.Render("~/Content/newcss")
</head>

<br /><br />
<div class="row">
	<div class="col-md-4"></div>

	<div class="col-md-8">
		<div class="card text-center" style="width:50%">
			<div class="card-header">
				<ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
					<li class="nav-item" onclick="showTab('login')">
						<a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Login</a>
					</li>
					<li class="nav-item" onclick="showTab('signup')">
						<a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Sign Up</a>
					</li>
				</ul>
			</div>
			<div class="card-body">
				<div class="tab-pane active show" id="login">
					@using (Html.BeginForm("LandingPage", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					<div class="form-group">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) } )
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							@*<div class="checkbox">
								<input id="checkbox1" type="checkbox" name="RememberMe">
								<label for="checkbox1">
									Unchecked
								</label>
							</div>*@
							@*<div class="checkbox">
								@Html.CheckBoxFor(m => m.RememberMe)
								@Html.LabelFor(m => m.RememberMe)
							</div>*@
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Log in" class="btn btn-default" />
						</div>
					</div>
					<p>
						@Html.ActionLink("Forgot your password?", "ForgotPassword")
					</p>
					}
				</div>

				<div class="tab-pane" id="signup" style="display:none">
					@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
					{
					@Html.AntiForgeryToken()
					<h3>Signup</h3>

					@Html.ValidationSummary("", new { @class = "text-danger" })

					<div class="form-group">
							@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.FirstName) })
					</div>
					<div class="form-group">
							@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.LastName) })
					</div>
					<div class="form-group">
							@Html.TextBoxFor(m => m.HouseAndStreet, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.HouseAndStreet) })
					</div>
					<div class="form-group">
							@Html.TextBoxFor(m => m.Region, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Region) })
					</div>
					<div class="form-group">
							@Html.TextBoxFor(m => m.Country, new { @class = "form-control", @readonly = true, @Value = "Pakistan" })
					</div>
					<div class="form-group">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
					</div>
					<div class="form-group">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
					</div>
					<div class="form-group">
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword) })
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" class="btn btn-default" value="Register" />
						</div>
					</div>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>


<div class=" col-md-4"></div>

    <script>
        function showTab(tab, element) {
            if (tab == "signup") {
                document.getElementById("login").style.display = "none";
            }
            else {
                document.getElementById("signup").style.display = "none";
            }
            document.getElementById(tab).style.display = "block";
        }
    </script>