﻿@model MDRIP.Models.CreateAccountAdminModel
@{
    ViewBag.Title = "Create Account";
}
<h2>Add New User Role:</h2>

@using (Html.BeginForm("CreateAccount", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Account.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.HouseAndStreet, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.HouseAndStreet, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account. Region, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.Region, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.Account.Country, new { @class = "form-control", @readonly = true, @Value = "Pakistan" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Account.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Account.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Account.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Role, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" id="ActivatedDropdownList" name="Account.Role">
                <option>Select Role</option>
                @foreach (var item in Model.Roles)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Account.Activated, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" id="ActivatedDropdownList" name="Account.Activated">
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
            </select>
        </div>
    </div>
    <input type="submit" value="Create Account" />
}