@model MDRIP.Models.AdminModel
@{
    ViewBag.Title = "Admin";
}
<table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="6" cellspacing="6">
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table id="tbrole" style="width:100%; border:dotted 1px; background-color:gainsboro; padding-left:10px;">

                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td style="width:100%; border:dotted 1px;">
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td style="color:#FFFFFF;padding-right:10;">
            <h3>   @Html.ActionLink("Click to Create New Role", "CreateRole", "Admin") </h3>
        </td>
    </tr>
</table>

<table style=" background-color:#FFFFFF; border: dashed 3px #6D7B8D; padding: 5px;width: 99%;table-layout:fixed;" cellpadding="6" cellspacing="6">
    <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;border: solid 1px #659EC7;">
        <td align="center" colspan="2">
            <h2>Accounts</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table id="tbaccounts" style="width:100%; border:dotted 1px; background-color:gainsboro; padding-left:10px;">

                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td style="width:50%; border:dotted 1px;">
                            @item.Email
                        </td>
                        <td>
                            @if (item.Activated)
                            {               
                                <a href="@Url.Action("ToggleActivation", "Admin")?id=@item.Id">Activated. Click to deactivate.</a>
                            } else {
                                <a href="@Url.Action("ToggleActivation", "Admin")?id=@item.Id">Deactivated. Click to deactivate.</a>                           
                            }
                        </td>
                    </tr>}
            </table>
        </td>
        <td align="right" style="color:#FFFFFF;padding-right:10;">
            <h3>   @Html.ActionLink("Click to Create New Account", "CreateAccount", "Admin") </h3>
        </td>
    </tr>
</table>