@model IEnumerable<MDRIP.Models.ClinicalInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClincFormNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicRecords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClincRecordsProviderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicalInfectionsInformation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClincFormNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicRecords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClincRecordsProviderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicalInfectionsInformation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
